:root {
  --color-blue: #009AE0;
  --blue-dark: #167BFF;
  --bg-main: #282a36;
  --color-black: #030517;
  --color-card: #6151B3;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: var(--bg-main);
  font-family: 'Poppins', sans-serif;
  
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

header .links {
  text-align: center;
}

.links a {
  color: var(--color-blue);
  margin: 0 16px;
  transition: color 0.2s;
  font-size: 24px;
}

header div a:hover {
  color: var(--blue-dark);
}

#wrapper {
  margin: 0 auto;
  max-width: 600px;
  padding: 32px;
  color: white;
  text-align: center;
}

/* CARDS */
.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border-radius: 0 0 5px 5px;
  background-color: var(--color-card);
  color: var(--color-blue);
}

.card_image-container img {
  width: 100%;
}

.card_content {
  text-align: center;
  color: white;
}

.card_info {
  padding: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card_info span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--color-card);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  transition: color, background 0.2s
}

.card_info span:hover {
  background-color: var(--color-blue);
  color: var(--color-card);
}

@media (max-width: 1023px) {
  .cards {
    margin: 0 auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .cards {
    max-width: 300px;
    grid-template-columns: 1fr;
  }
}