Reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: arial, sans-serif;
    margin: 0;
    background: #33c9dc;
}

main {
    width: 80%;
    max-width: 960px;
    margin: auto;
}

.hero {
    border: 1px solid transparent;
    background-image: url("../imagens/bg-3.jpg");
    background-position: right center;
    background-size: cover; /* Para ocupar sempre a área inteira mesmo que esconda uma parte da imagem */
    height: 500px;
    box-shadow: 0px 3px 3px #333;
}

.hero-content {
    text-align: center;
    color: #fff;
    margin-top: 150px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 48px;
    text-shadow: 3px 3px 3px #333;
}

.hero nav ul {
    text-align: right;
    margin: 20px 50px 0 0;
}

.hero nav li{
    display:inline-block;
}

.hero nav .link{
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.3);
    list-style: none;
    padding: 10px;
    margin-right: 10px;
}

.hero nav .link:hover{
    background-color: rgba(0, 0, 0, 0);
}

.hero nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
}

.hero nav .button-contato a {
    border-radius: 25px;
    background-color: #33C9DC;
    padding: 10px;
    transition: background-color 400ms;
}

.hero nav .button-contato a:hover {
    background-color: white;
    color: black;
}

.hero-content p {
    background-color: rgba(0,0,0, 0.5);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
    border-radius: 5px 5px 0 0;
}

.content-section {
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 3px #333;
    overflow: auto;
}

.content-section h2 {
    border-bottom: 3px solid #000;
    display: inline-block;
}

footer {
    background-color: #008394;
    margin-top: 15px;
    height: 80px;
    text-align: center;
    color:#fff;
    text-shadow: 2px 2px 3px #333;
    line-height: 80px;
}

.card {
    width:32%;
    float: left;
    box-sizing: border-box;
    border-radius: 5px;
}

.card img {
    width: 100%;
    display: block;
}

.card-1, .card-2, .card-4, .card-5 {
    margin-right: 2%;
}

.card-4, .card-5, .card-6 {
    margin-top: 15px;
}

.content-section .card {
    background-color: #33C9DC;
}

.content-section .card a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: white;
    transition: color 400ms;
}

.content-section .card a:hover {
    color: black;
}

.content-section .card:hover {
background-color: white;
}